<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>非cli项目</title>
</head>
<!-- 测试 vue 引入和 swig 模板语法案例 START -->
<body>
    <p>[[ message ]]</p>
    <div id="app">
        <input type="text" v-model="msg"/>
        <p>{{ msg }}</p>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            msg: "hello world"
        }
    });
</script>
<!-- 测试 vue 引入和 swig 模板语法案例 END -->

<!-- 测试浏览器直接使用 import 语法 START -->
<script type="module">
    import('/js/data.js').then(res => {
        console.log(res);
    });
</script>
<script nomodule src="https://cdn.staticfile.org/systemjs/6.7.1/system.js"></script>
<script nomodule>
    System.import('/js/data_bundle.js').then(res => {
        console.log('res', res);
    })
</script>
<!-- 测试浏览器直接使用 import 语法 END -->
</html>